extends ../layout/commonLayout

block content

  h1 Books Store Online
  a(href="/") Home page
  br
  br
  if errors
      each error in errors
        .alert.alert-danger= error
  form(action="/books/create" method="POST" )
    input.form-control.ml-2.mr-2(type="text" name="title" value = values ? values.title : ''  placeholder="input title for book here")
    br
    br
    input.form-control.ml-2.mr-2(type="text" name="description" value = values ? values.description : ''  placeholder='Enter book\'s discription')
    br
    br
    button.btn.btn-primary Add
  h2 List Books:
  ul
   each book in books
    li=book.title
      |
      |
      span
        a(href="/books/"+ book.id +"/edit") Edit
        |
        |
        a(href="/books/"+ book.id+"/delete") Delete