extends ../layout/commonLayout

block content

  h1 Books Store Online
   .container
    .row
        each book in books
            .col-3.p-3
              .card
                img.card-img-top(src=book.image)
                .card-body
                  h5.card-title= book.title
                  p.card-text=book.description
                  a.btn.btn-primary(href='/cart/add/'+book.id) Add to Cart