h1 Books Store Online
form(action="/books/create" method="POST" )
  input(type="text" name="title"  placeholder="input title for book")
  textarea(name="description " rows="10" cols="30" placeholder="input description  for book")
  