extends index

block headbar
  br
  br
  a.bnt.btn-primary.m-4.p-2.pl-3.pr-3(href="/users") Back
  form.mt-2(action="/users/" +user.id+ "/edit-user" method="POST" enctype="multipart/form-data")
    lable(for="name") Edit name here:
    input#name.form-control.ml-4(type="text" name="name"  value=user.name)
    label.ml-4(for="avatar") Avatar:
    input#avatar.form-control-file.ml-4(type="file" name="avatar")
    button.btn.btn-primary.m-4 Update
  h4.text-danger Title :
   span=user.name
