extends ../layout/commonLayout

block content
  h1
    a.text-decoration-none.text-danger(href='/books') I love coderX
    |
    |
    if user
      a.btn.btn-outline-danger(href='auth/logout') Logout
    else
      a.btn.btn-outline-primary(href='auth/login') Login
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    ul.navbar-nav.mr-auto
      li.nav-item.text-uppercase
        a.navbar-brand.nav-link(href="/books") Books
        if isAdmin
          a.navbar-brand.nav-link(href="/users") Users
        a.navbar-brand.nav-link(href="/transactions") Transactions
        
        if quantity > 0
          a.navbar-brand.nav-link(href='/cart') Cart(#{quantity})
        else 
          a.navbar-brand.nav-link(href='/cart') Cart

  
  block headbar
      .container
        br
        br
        //h1 Book Store