extends ../layout/commonLayout

block content
  h1 I Love CoderX
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href="/books") Books
    a(href="/users" class="navbar-brand") Users
    a.navbar-brand(href="/books") Transactions

  
