extends ../layout/commonLayout

block content
  h1 I Love CoderX
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    ul.navbar-nav.mr-auto
      li.nav-item.text-uppercase
        a.navbar-brand.nav-link(href="/books") Books
        a(href="/users" class="navbar-brand nav-link") Users
        a.navbar-brand.nav-link(href="/transactions") Transactions

  
