extends ../layout/commonLayout

block content
  h1 I Love CoderX
  
  a(href="/books" class="nav-link") => Books Store
  br
  br
  a(href="/users" class="nav-link") => Users 
  br
  br
  a(href="/transactions" class="nav-link") => Transactions
  
