extends ../layout/commonLayout

block content
  h1
    a.text-decoration-none.text-danger(href='/') I love coderX
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    ul.navbar-nav.mr-auto
      li.nav-item.text-uppercase
        a.navbar-brand.nav-link(href="/books") Books
        a.navbar-brand.nav-link(href="/users") Users
        a.navbar-brand.nav-link(href="/transactions") Transactions
        if quantity > 0
            a.nav-item.nav-link(href='/cart') Cart(#{quantity})
        else 
            a.nav-item.nav-link(href='/cart') Cart

  
  block headbar
      .container
        br
        br
        //h1 Book Store
        br
        a.btn.btn-primary(href='/login') Login