extends ../layout/commonLayout

block content
  if user
    p= user.name
  h3.text-danger You fail to enter the correct password 3 times in a row when logging in please contact admin to unlock account