extends ../layout/commonLayout

block content

  h1 Login Page
  br
  br
  if errors
      each error in errors
        .alert.alert-danger= error
  .dropdown-menu
  form.px-4.py-3(action="/auth/postLogin" method="POST" )
    .form-group
      label(for="email") Email
      input#exampleDropdownFormEmail1.form-control(type='email',name="email", value = values ? values.email : '', placeholder='email@example.com')
    .form-group
      label(for='exampleDropdownFormPassword1') Password
      input#exampleDropdownFormPassword1.form-control(type="password" name="password" value = values ? values.password : '' placeholder='Password')
    .form-group
      .form-check
        input#dropdownCheck.form-check-input(type='checkbox')
        label.form-check-label(for='dropdownCheck')
          | Remember me
    button.btn.btn-primary(type='submit') Sign in
  .dropdown-divider
  a.dropdown-item(href='#') New around here? Sign up
  a.dropdown-item(href='#') Forgot password?
  