extends index
  
block headbar
  br
  br
  
  if transactions
    .container
    .row.justify-content-md-center
      .col-8
              
          table.table.table-bordered.table-striped ten nguoi dung
            tr
              th Index
              th Id
              th userId
              th Quantity
            each transaction, index in transactions  
              tr  
                  td=index +1
                  if transaction.id
                    td.d-flex.justify-content-center.align-items-center
                      img(src=transaction.image, width='64')
                  td=transaction.title
                  td=transaction.quantity
  else
    .alert.text-center.alert-primary Nothing