a(href='/') Home
br
a(href='/transactions/create') Create transaction
br  
table 
    caption Transactions List
    tr
      th Id
      th Name
      th Status
    each transaction in transactions  
      tr
          td=transaction.id
          td=transaction.name
          if transaction.isComplete 
            td=transaction.isComplete
          else
            td
              a(href='/transactions/'+transaction.id+'/complete')=transaction.isComplete