extends index
  
block headbar
  br
  br
  
  if transactions
    .container
    .row.justify-content-md-center
      .col-8
              
          table.table.table-bordered.table-striped ten nguoi dung
            tr
              th Index
              th cover
              th Title
              th Quantity
            each transaction, index in transactions  
              tr  
                td=index +1
                td=transaction.id
                td=transaction.userId
                td=transaction.book
  else
    .alert.text-center.alert-primary Nothing