a(href='/') Home
br
br  
table 
    caption Transactions List
    tr
      th ID
      th USerID
      th BookID
      tr
        each user in users  
          td=user.name
        each user in users
          td=users.name
        each book in books 
          td=books.title  
br
ul
  each user,index in users
    li= index+1 + ' : '+ user.name
     span
       |
       |
       a(href="/users/" +user.id+ "/edit-user") Edit
       |
       |
       a(href="/users/" +user.id+ "/delete") Delete