a(href='/') Home
br
br  
form(action="/" method="POST")
  lable Create new transaction:
  br
  lable Choose a user :
    slect("name="userTrans"")
table 
    caption Transactions List
    tr
      th ID
      th USer
      th Book
      tr
        each transaction in transactions  
          td=transaction.id
          td=transaction.userTransaction
          td=transaction.bookTransaction