a(href='/') Home
br
br  
table 
    caption Transactions List
    tr
      th ID
      th USerID
      th BookID
    each transaction in transactions  
      tr
          td=transaction.id
          td=transaction.userId
          td=transaction.bookId
form(method="POST")
  label Transaction name: 
  input(name='name')
  br 
 
  label Choose a book: 
  select(name='bookId')
    each book in books
      option(value=book.id)=book.title
  br
  button Create        