extends ../layout/commonLayout

block content
  caption Transactions List: 
  table.table 
      tr
        th Index
        th Id
        th User Name
        th Book
          tr 

            td=transaction.id
            td=transaction.userTransaction
            td=transaction.bookTransaction