extends ../layout/commonLayout

block content
  label Create new user:
    br
    form(action="/users/create" method="POST")
      input.form-control.ml-2.mr-2(type="text" name="name" placeholder="Enter user name...")
      |
      |
      button.btn.btn-primary.ml-2.mt-3 Add
      if errors
              each error in errors
                .alert.alert-danger= error
  h1 List users:
  a(href="/") Home page
  br
  br
  ul
    each user in users
      li=user.name
       span
         |
         |
         a(href="/users/" +user.id+ "/edit-user") Edit
         |
         |
         a(href="/users/" +user.id+ "/delete") Delete