label Create new users:
  br
  form(action="/users/create" method="POST")
  input(type="text" name="name" placeholder="Enter user name...")
  |
  |
  button Add
h1 List users:
ul
  each user in users
    li=user.name
     span
       |
       |
       a(href="#") Edit
       |
       |
       a(href="#") Delete